@import url('https://fonts.google.com/specimen/Lexend+Deca');
@import url('https://fonts.google.com/specimen/Big+Shoulders+Display');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wrapper {
    width: 320px;
    height: 420px;
    padding: 24px;
    color: #fff;
}

.wrapper h1 {
    margin-bottom: 24px;
}

.wrapper p {
    text-align: left;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    width: 220px;
    height: 85px;
    margin-bottom: 96px;
}

.sedans-wrapper {
    background-color: hsl(31, 77%, 52%);
}

.suvs-wrapper {
    background-color: hsl(184, 100%, 22%);
}

.luxury-wrapper {
    background-color: hsl(179, 100%, 13%);
}

.Btn {
    width: 150px;
    border-radius: 25px;
    background-color: hsl(0, 0%, 95%);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid hsl(0, 0%, 95%);
    transition: all .3s ease;
}

.sedans-Btn {
    color: hsl(31, 77%, 52%);
}
.suvs-Btn {
    color: hsl(184, 100%, 22%);
}
.luxury-Btn {
    color: hsl(179, 100%, 13%);
}

.Btn:hover {
    background-color: transparent;
    color: hsl(0, 0%, 95%);
}

@media screen and (max-width: 425px) {
    body {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .attribution { display: none; }
}